a {
		text-decoration: none;
		font-size: 24px;
		font-family: 'Product Sans', Arial, sans-serif;
	}

h1 {
		font-family: 'Product Sans', Arial, sans-serif;
	}

html {
		height: 100%;
	}

body {
		padding-top: 150px;
		height: 100%;
		margin: 0;
		/*background-repeat: no-repeat;*/
		background-attachment: fixed;
		background: #448ccb;
		/*background: -webkit-linear-gradient(left top, #448ccb, #5674b9);
		background: -o-linear-gradient(bottom right, #448ccb, #5674b9);
    		background: -moz-linear-gradient(bottom right, #448ccb, #5674b9);
    		background: linear-gradient(to bottom right, #448ccb, #5674b9);*/
	}

#all {
	
}

.img-rounded {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#bottompic {
	margin-bottom: 3cm;
}
