a {
		text-decoration: none;
		font-size: 24px;
		font-family: 'Product Sans', Arial, sans-serif;
	}

h1 {
		font-family: 'Product Sans', Arial, sans-serif;
	}

html {
		height: 100%;
	}

body {
		padding-top: 150px;
		height: 100%;
		margin: 0;
		background-attachment: fixed;
		background-image: url("/images/background.png");
		background-color: #838d91;
		
	}

#all {
	
}

.img-rounded {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#bottompic {
	margin-bottom: 3cm;
}

#config {
	width: 128px;
	height: 165px;
}
