Package: com.mtac.ccall
Name: CCCall
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make a call from your CC!
Maintainer: MTAC
Depiction: https://mtacs.github.io/description.html?id=com.mtac.ccall
Author: MTAC
Section: Tweaks
