Package: com.mtac.mantra
Name: Mantra theme for iOS Devices
Version: 1.1.1
Architecture: iphoneos-arm
Description: Mantra, a simple theme
Homepage:
Depiction:
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
