Package: com.mtac.mantra
Name: Mantra
Version: 1.1.2
Architecture: iphoneos-arm
Description: Mantra, a simple theme
Homepage:
Depiction: https://mtacs.github.io/pages/Repo.html?id=com.mtac.mantra
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
