Package: com.mtac.mantra
Name: Mantra
Version: 1.1.2
Architecture: iphoneos-arm
Description: Mantra, a simple theme
Homepage:
Depiction: http://mtacs.github.io
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
