Package: com.mtac.debugserver9
Depends: mobilesubstrate, firmware (>= 9.0)
Name: debugserver(iOS 10)
Version: 370.0.42
Architecture: iphoneos-arm
Description: Apple's lldb debugging server
Maintainer: MTAC
Author: MTAC
Section: System
