Package: net.tihmstar.etasonuntether
Name: Etason untether
Version: 1.0.0
Description: Untether for 8.4.1 32bit
	Etason Untether is an untether package for 32bit devices running 8.4.1
	It exploits the Pegasus jsc bug and bootstraps Etason jailbreak.
Section: System
Depends: firmware (= 8.4.1)
Conflicts: cy+cpu.arm64
Priority: required
Architecture: iphoneos-arm
Author: tihmstar
dev: tihmstar
Depiction:
Maintainer: tihmstar
