Package: com.mtac.nofolderblur
Name: NoFolderBlur
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Make your iOS 10 folders look cleaner with uniform blur
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 120
