Package: com.mtac.simplesileotabs
Name: SimpleSileoTabs
SileoDepiction: https://mtacs.github.io/sileo/simplesileotabs/com.mtac.simplesileotabs.json
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Give Sileo a cleaner tabbar
Maintainer: MTAC
Author: MTAC
Section: Sileo
Version: 0.0.1-2+debug
Installed-Size: 72
