Package: com.mtac.smoothnotifications
Name: SmoothNotifications
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Pretty much CleanNotifications10 by AppleBetas but compiled for armv7
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 120
