Package: com.mtac.barvol
Name: BarVol
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Progress bar for StatusVol
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.mtac.barvol
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 0.1
