Package: com.mtac.noigtv
Name: NOIGTV
Description: Instagram...Nobody cares about IGTV
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate
Maintainer: MTAC
Author: MTAC
Version: 0.0.1-1+debug
Installed-Size: 124
