Package: com.mtac.noupdatedotsxi
Name: NoUpdateDotsXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide recently updated app dots
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 104
