Package: com.mtac.nosharexi
Name: NoShareXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Get rid of the annoying Share option on AppStore apps
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 1.1.0-1
Installed-Size: 56
