Package: com.nathanaccidentally.dock
Name: Dock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: The iOS 11 dock on iOS 10.
Depiction: https://mtacs.github.io/pages/Repo.html
Maintainer: nathanaccidentally
Author: nathanaccidentally
Section: Tweaks
Version: 0.0.2-1+debug
Installed-Size: 260
