Package: com.mtac.runtimebrowser
Name: Runtime Browser
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Objective-C runtime browser by Nicolas Seriot
Depiction: https://mtacs.github.io/description.html?id=com.mtac.runtimebrowser
Maintainer: MTAC
Author: Nicolas Seriot
Section: Tweaks
