Package: com.mtac.iOS3Dock
Name: iOS 3 Dock Theme
Version: 0.2
Architecture: iphoneos-arm
Description: A recreation of the dock used up to iOS 3. Requires Anemone or old version of ClassicDock without the Anemone dependency
Author: MTAC
Section: Themes
