Package: com.mtac.iOS3Dock
Name: iOS 3 Dock for modern devices
Version: 1.1.2
Architecture: iphoneos-arm
Description: iOS 3 Dock for modern devices
Homepage:
Depiction:
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
