Package: com.memalloc.11beta
Name: 11 Beta
Version: 0.1.10a
Architecture: iphoneos-arm
Description: 11 Beta, iOS 11 look for your iDevice
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.memalloc.11beta
Maintainer: MTAC <mtactheming@gmail.com>
Author: @mem_alloc <https://twitter.com/mem_alloc>
Section: Themes
