Package: com.mtac.cypatreon
Name: CydiaPatreon
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Support Cydia and saurik!
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.mtac.cypatreon
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 0.0.2
Installed-Size: 120
