Package: com.mtac.nolsbattery
Name: NoLSBattery
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Stupid simple tweak to remove charging battery when plugged in on lockscreen
Depiction: https://mtacs.github.io/pages/Repo.html?id=com.mtac.nolsbattery
Maintainer: MTAC
Author: MTAC
Section: Tweaks
