Package: com.mtac.remotepowerprefs
Name: RemotePowerPreferences
Architecture: iphoneos-arm
Description: Test Preference Bundle for RemotePower
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.mtac.remotepowerprefs
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Utilities
Version: 0.1-5+debug
Installed-Size: 200
