Package: com.mtac.ios11system
Name: iOS 11 System Icons
Version: 1.0
Architecture: iphoneos-arm
Description: An Anemone theme to add iOS 11's new system icons to iOS 10 and below
Homepage: 
Depiction:
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
