Package: com.mtac.nosileowarnings
Name: NoSileoWarnings
SileoDepiction: https://mtacs.github.io/sileo/nosileowarnings/com.mtac.nosileowarnings.json
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Remove Sileo's depreciated depiction warnings!
Maintainer: MTAC
Author: MTAC
Section: Sileo
Version: 0.0.1-3+debug
Installed-Size: 104
