Package: com.mtac.freya
Name: Freya
Version: 1.1.2
Architecture: iphoneos-arm
Description: Freya, an appealing theme for Anemone on iOS
Homepage:
Depiction: https://mtacs.github.io/pages/Repo.html?id=com.mtac.freya
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Themes
