Package: org.xbmc.kodi-ios64
Name: Kodi-iOS (64-bit)
Depends: firmware (>= 7.0)
Pre-Depends: cy+cpu.arm64
Conflicts: org.xbmc.kodi-ios
Replaces: org.xbmc.kodi-ios
Priority: Extra
Version: 17.3-0
Architecture: iphoneos-arm
Installed-Size: 148180
Description: Kodi Entertainment Center for iOS
Homepage: http://kodi.tv/
Depiction: https://mtacs.github.io/description.html?id=com.xbmc.kodi
Maintainer: MTAC
Author: Team-Kodi
Section: Multimedia
Icon: file:///Applications/Kodi.app/AppIcon57x57.png
