Package: com.mtac.kodi
Name: Kodi
Version: 1.1.2
Architecture: iphoneos-arm
Description: Kodi 17.4 Krypton
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.mtac.kodi
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Applications
