Package: com.mtac.terminalpower
Name: Terminal Power
SileoDepiction: https://mtacs.github.io/sileo/terminalpower/com.mtac.terminalpower.json
Version: 1.0
Architecture: iphoneos-arm
Description: Safemode & Respring via one terminal command
Homepage:
Depiction: https://mtacs.github.io/description.html?id=com.mtac.terminalpower
Maintainer: MTAC <mtactheming@gmail.com>
Author: MTAC <mtactheming@gmail.com>
Section: Utilities
