Package: com.mtac.aris
Name: Aris
SileoDepiction: https://mtacs.github.io/sileo/aris/com.mtac.aris.json
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: PLACEHOLDER
Maintainer: MTAC Research
Author: MTAC Research
Section: Tweaks
Version: 0.0.1-75+debug
Installed-Size: 308
