Package: com.mtac.cleanmusiccc
Name: CleanMusicCC
Depends: mobilesubstrate, firmware (>= 10.0)
Architecture: iphoneos-arm
Description: Clean up your ControlCenter by removing now playing devices
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 200
