Package: com.mattr.sleeksheets
Name: SleekSheets
Version: 1.0
Architecture: iphoneos-arm
Description: Re-upload of the original SleekSheets tweak for iOS 8 & 9
Homepage:
Depiction: https://mtacs.github.io/pages/Repo.html?id=com.mattr.sleeksheets
Maintainer: MTAC <mtactheming@gmail.com>
Author: mattr
Section: Tweaks
