Package: com.mtac.remotepowerhelper
Name: Remote Power Helper
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: A tweak to automatically install dependencies for RemotePower
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 232
