Package: com.mtac.simplesettings
Name: SimpleSettings
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Simplify your Settings!
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Version: 0.0.1
Installed-Size: 72
